@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Work Sans", sans-serif;
}

/* Common Shared Style */
.btn-container {
    text-align: center;
}

.btn-common {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    background: #52C303;
    padding: 14px 24px;
    border: none;
    cursor: pointer;
    /* text-align: center;  text-align is already in center in hero-banner hero-content*/

}

/* Header Style */
#hero-banner {
    height: 650px;
    background-image: linear-gradient(0deg, #101010 -19.5%, rgba(16, 16, 16, 0.00) 100%),
        url('../assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

#hero-banner .hero-content {
    width: 700px;
    text-align: center;
}

#hero-banner .hero-content .sub-title {
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0.8;
}

#hero-banner .hero-content .title {
    color: #FFF;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 16px;
}

#hero-banner .hero-content .description {
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    opacity: 0.7;
    margin-bottom: 22px;
}

/* Favourite Brand  */
#favourite-brand {
    height: 610px;
    width: 940px;
    margin: 115px auto;

}

#favourite-brand .brand-top-info {
    color: #101010;
    width: 485px;
    text-align: center;
    margin: 0px auto 48px auto;
}

#favourite-brand .brand-top-info .sub-title {
    font-size: 17px;
    font-weight: 500;
    opacity: 0.6;
}

#favourite-brand .brand-top-info .title {
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

#favourite-brand .cards {
    display: flex;
    gap: 16px;
    margin-bottom: 45px;
}

#favourite-brand .cards .card {
    width: 365px;
    text-align: center;
}

#favourite-brand .cards .card .card-img img {
    width: 100%;
}

#favourite-brand .cards .card .card-content .subtitle {
    width: 100px;
    padding: 8px 22px;
    border-radius: 5px;
    background: rgba(82, 195, 3, 0.15);
    color: #101010;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px auto 16px;
}

#favourite-brand .cards .card .card-content .title {
    color: #101010;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
}

#favourite-brand .cards .card .card-content .card-description {
    color: #101010;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    opacity: 0.7;

}

/* Delicious Food */
.delicious-food {
    display: flex;
    margin-bottom: 80px;

}

#delicious-food .delicious-food-img {
    width: 50%;
}

#delicious-food .delicious-food-img img {
    width: 100%;
}

#delicious-food .delicious-food-content {
    width: 565px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

#delicious-food .delicious-food-content .title {
    color: #101010;
    font-size: 33px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 16px;
}

#delicious-food .delicious-food-content .description {
    width: 450px;
    color: #101010;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Footer Section */
#footer {
    background-image: url('../assets/image\ 2.png');
    padding: 95px 0px;
    text-align: center;
}

#footer .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .footer-content .title {
    width: 560px;
    margin: 0px auto 16px;
    color: #101010;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

#footer .footer-content .description {
    color: #101010;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
    margin-bottom: 32px;
}

#footer .footer-content .social-title {
    color: #101010;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    opacity: 0.7;
    border-top: 1px solid rgba(16, 16, 16, 0.20);
    border-bottom: 1px solid rgba(16, 16, 16, 0.20);
    padding: 20px 6px;
    width: 910px;
    margin-bottom: 22px;
}

#footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

#footer .social-media img {
    width: 22px;
    height: 22px;
}

#footer .copyright {
    margin-top: 10px;
    opacity: 0.6;
}